

/* Colors:
    primary color : #94b4a4
    secondary color : #d2f5e3
    tertiary color : #e5c5b5
    fourth color : #f4d9c6
*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #94b4a4;
    
    padding: 1%;
}

#title {
    background-image: linear-gradient(100deg ,
    #94b4a4 0% ,
    #94b4a4 50% ,
    #d2f5e3 50%);
    color: #f4d9c6;
    /* height: 85%;  */
    /*overflow: hidden; */


}
.row {
    transition: all .3s;
    /* margin-top: 100px; */

}
.container-fluid {
    padding:3% 10%;
    padding-bottom: 20%;
}
.container {
    /* padding: 5% 10%; */
}
.title__primary-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    
}
.title__left {
    animation-name: MoveInRight;
    animation-duration: 1s;
}
.title__right {
    animation-name: MoveInLeft;
    animation-duration: 1s;
    /* transform: rotate(80deg);
    margin-top: 100px; */
}

.title__image {
    width: 50%;
    transform: rotate(25deg);
    /* position: relative; */
    position: absolute;
    right: 20%;
}

#features {
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    /* line-height: 2; */
    padding: 8% 15%;
    position: relative;
    transform: skewY(-5deg);
    margin-top: -120px;
    background-color: white;
}
#features > * {
    transform: skewY(5deg);
}

.features__box{
    text-align: center;
    padding: 5%;
}
.features__heading {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.features__text {
    color: #8f8f8f;
}

.features__icon {
    color: #94b4a4;
    font-size: 3.5rem;
    margin-bottom: 10px;
}
.features__icon:hover {
    color: #d2f5e3;
}


/* testimonials */
#testimonials {
    /* background-image: linear-gradient(to right , #d2f5e3 0%,#94b4a4 60%); */
    /* padding: 50px; */
    
    text-align: center;
    color: #e5c5b5;
}
.carousel-item {
    padding: 7% 15%;
}

.testimonials__heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
    /* display: inline-block; */
}

.testimonials__image {
    margin: 20px;
    border-radius: 50%;
    width: 15%;
}
.testimonials__carousel-icon {
    color: #f4d9c6;
}


#press {
    text-align: center;
    padding-bottom: 3%;
}

.press__image {
    width: 15%;
    margin: 20px 20px 50px;
}




#pricing{
    background-color: white;
    text-align: center;
    padding: 8% 15%;
    transition: all .3s;
    
}
.card {
    margin: 20px 0;
    animation-name: MoveUpDown;
    animation-duration: 1s;
    
}
.price__header {
    background-color: #94b4a4;
    color:white ;
    
}

.pricing__heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
.pricing__paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.ctr__section{
    background-color: white;
}

#cta{
    padding:8% 15%; 
    text-align: center;
    background-color:#e5c5b5 ;
    clip-path: polygon(0 0 ,100% 0 , 100% 80% , 0 100%);
}



.cta__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
    color: white;
    padding-bottom: 1%;
}





#footer {
    padding: 5% 15%;
    text-align: center;
    background-color: white;
    margin-top: -1px;
    clip-path: polygon(0 0 , 100% 0,100% 100% , 0 100%);
}
.footer__paragraph {
   color:  #8f8f8f;
   padding: 5px;
   font-size: .7rem;
}
.footer__icon:not(:last-child) {
    margin-right: 20px;
}

/* Components Buttons */
.btn {
    transition: all .1s;
}
.btn:hover {
    transform: translateY(-2px);
}
.btn:active{
    outline: hidden;
    transform: translateY(-1px);
}
.btn-download {
    margin: 5% 3% 5% 0;
}

.btn-price {
    display: inline-block;
}

/* Navigation style */
.navbar {
    padding:0 0 4.5rem;
    
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 700;
   
}

.nav-item:not(:last-child) {
    padding-right: 18px;
    
}
.nav-link,
.nav-link:link,
.nav-link:active {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgba(148,180,164, .6);
    box-shadow: 0rem .3rem .5rem rgba(0,0,0,.2);
    border-radius: 10px;
    color: rgb(244, 217, 198);
}




/* Media queries */
@media only screen and (max-width: 62.5em) {
    #title {
        background-image: linear-gradient(to right , #d2f5e3 0%,#94b4a4 60%);
    }
    .nav-link,
    .nav-link:link,
    .nav-link:active {
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        background-color: transparent;
        border: none;
        box-shadow: none;
        
    }

    .testimonials__heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1;
        /* display: inline-block; */
    }
    #title {
        text-align: center;
    }
    .title__primary-heading {
      
        font-size: 3rem;
        line-height: 1;
        
    }
    .title__image {
        position: static;
        transform: rotate(0);
    }

    .cta__heading {
        font-size: 2rem;
    }
  }



  /* Animations */
  @keyframes MoveInRight{
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    80% {
        opacity: 1;
        transform: translateX(2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

  @keyframes MoveInLeft{
    0% {
        opacity: 0;
        transform: translateX(200px) ;
    }
    80% {
        opacity: 1;
        transform: translateX(-2px);
    }
    100% {
        opacity: 1;
        transform: translateX(0) ;
    }
  }

  @keyframes MoveUpDown {
      0% {
          opacity: 0;
          transform: translateY(50px);
      }
      80% {
          opacity: 1;
          transform: translateY(-5px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }


  